
<div layout="row" layout-padding>
	<div flex="35">
		<div layout-align="center" layout-padding>
			<p class="md-display-2" md-colors="{color: 'blue-A400' }">Strategic Objectives</p>
		</div>
		
		<div layout-padding>
			 <md-divider></md-divider>
		     <!--P class="md-title">Points to consider.</P>
		     <p class="md-body-1">Reasons why you are in business.</p>
		     <p class="md-body-1">Why this business ? </p>-->
	      </div> 
	</div>
	<md-divider></md-divider>
	<div flex="65">
		<md-card>
			<md-toolbar md-colors="{background: 'grey-700' }">
			<div class="md-toolbar-tools">
			<h2 ><span>Objectives</span></h2>
				<span flex></span>
		</div>
	</md-toolbar>
	    <md-card-content>

	    <md-card layout-padding ng-repeat="item in obs" 
	      md-colors="{background: 'amber-A200'}">
	    <div layout="row">
	      <span flex="50" class="md-subhead">{{$index+1}}. {{item.desc}} ,<br />
	       Timeframe {{item.start_date}} to {{item.end_date}}</span>
	      <span flex></span>
	                 <md-button class="md-icon-button"
                     md-colors="{background: 'grey-900' }" 
                      href="#dash/objs/{{item._id}}">
                    <i class="material-icons"> chevron_right </i>
                    </md-button>
                    <!--<md-button class="md-icon-button"
                     md-colors="{background: 'grey-900' }" 
                     ng-click="isCollapsed = !isCollapsed">
                    <i class="material-icons"> edit </i>
                    </md-button>-->
                     <md-button class="md-icon-button"
                      href="#dash/screen/{{ item._id }}"
                     md-colors="{background: 'grey-900' }" >
                    <i class="material-icons"> insert_chart_white </i>
                    </md-button>
                    <md-button class="md-icon-button"
                     md-colors="{background: 'grey-900' }" 
                    ng-click="del(item._id)">
                    <i class="material-icons"> delete </i>
                    </md-button>

                  </div>

                  <div  uib-collapse="isCollapsed">
	     		<md-card layout-padding md-colors="{background: 'grey-200'}">
	     <div layout="row">
		     <div flex="100">
	           <input class="form-control" ng-model="item.desc">
	         </div>
	     </div>
	     <form name="obj">
	     <div layout="row">
            <div flex="50">
               <label>Start Date</label>
               <md-datepicker name="start_date" ng-model="start_date" required >
                </md-datepicker>
               <div ng-messages="obj.start_date.$error" role="alert">
		          <div ng-message-exp="['required']">
		            select start period please
		          </div>
        	 </div>
            </div>
            <div flex="50">
               <label>End Date</label>
               <md-datepicker name="end_date" ng-model="end_date" required>
               </md-datepicker>
               <div ng-messages="obj.end_date.$error" role="alert">
		          <div ng-message-exp="['required']">
		            select end period please
		          </div>
        	 </div>
            </div>
	     </div>
	     <div layout="row">
		     <div flex="10">
		      <md-button class="md-icon-button" ng-click="add()"
		      md-colors="{background: 'grey-900' }"
		      ng-disabled="obj.$invalid">
		      <i class="material-icons">update</i>
		      </md-button>
		     </div>
		  </div>
		</form>
	     </md-card>

	      </div>

	     </md-card>

	     
	     
	     <md-card layout-padding md-colors="{background: 'grey-200'}">
	     <div layout="row">
		     <div flex="100">
	           <input class="form-control" ng-model="o.desc">
	         </div>
	     </div>
	     <form name="obj">
	     <div layout="row">
            <div flex="50">
               <label>Start Date</label>
               <md-datepicker name="start_date" ng-model="o.start_date" required >
                </md-datepicker>
               <div ng-messages="obj.start_date.$error" role="alert">
		          <div ng-message-exp="['required']">
		            select start period please
		          </div>
        	 </div>
            </div>
            <div flex="50">
               <label>End Date</label>
               <md-datepicker name="end_date" ng-model="o.end_date" required>
               </md-datepicker>
               <div ng-messages="obj.end_date.$error" role="alert">
		          <div ng-message-exp="['required']">
		            select end period please
		          </div>
        	 </div>
            </div>
	     </div>
	     <div layout="row">
		     <div flex="10">
		      <md-button class="md-icon-button" ng-click="add()"
		      md-colors="{background: 'grey-900' }"
		      ng-disabled="obj.$invalid">
		      <i class="material-icons">add_black</i>
		      </md-button>
		     </div>
		  </div>
		</form>
	     </md-card>

	  
	    </md-card>
	</div>
</div>