<div layout="row" layout-padding>
	<div flex="35">
		<div layout-align="center" layout-padding>
			<p class="md-display-2" md-colors="{color: 'blue-A400' }">Financial Strategy
			</p>
		</div>
		
		<div layout-padding>
			<md-divider></md-divider>
		<P class="md-title">Quetions to answer ?</P>
		 <p class="md-body-1">1.What should my annual revenue target be?</p>
		 <p class="md-body-1">2.What should our net worth be ? </p>
         <p class="md-body-1">3.Do i understand our books of accounts ?</p>
         <p class="md-body-1">4.Do i use financial statements in getting funding ?</p>
         <p class="md-body-1">5.How much taxes are we paying ? and why ?</p>
         <p class="md-body-1">6.How can i reduce costs and increase profits ?</p>
         <p class="md-body-1">7.Are we re-investing in our business ?</p>
	</div>
	</div>
	<md-divider></md-divider>
	<div flex="65">
		<md-card>
			<md-toolbar md-colors="{background: 'blue-grey-900' }">
			<div class="md-toolbar-tools">
			<h2 ><span>Positions</span></h2>
				<span flex></span>
		</div>
	</md-toolbar>
	    <md-card-content>

	    <md-card layout-padding ng-repeat="item in finance">
	      <div layout="row">
	        <span class="md-subhead" flex="70">{{$index+1}}. {{item.desc}} </span>
	        <md-button class="md-icon-button" href="#/dash/single/{{ item._id }}">
	          <i class="material-icons">chevron_right</i>
	         </md-button>
	      </div>   
	     </md-card>
	     
	     <md-card layout-padding>
	     <div layout="row">
		     <div flex="10">
		      <md-button class="md-icon-button" ng-click="add()"><md-icon>add_black</md-icon></md-button>
		  </div>
		  <div flex="90">
	      <input class="form-control" ng-model="f.desc">
	  </div>
	     </div>
	     </md-card>

	  
	    </md-card>
	</div>
</div>

